.team-list__img--control {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 380px;
    height: 470px;    
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,0.9) 100%);
    opacity: 0;    
    transition: 200ms linear;    
}

.team-list__body-link {
    width: 224px;    
    display: flex;    
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);
}

.team-list__link {
    @extend %flex-center;    
    width: 55px;
    height: 56px;
    background-color: $main-color;    
    transition: 200ms linear;
    
    &-svg {
        fill: $second-color;    
        transition: fill 200ms linear;
        
        &--facebook {
            width: 13px;
            height: 26px;
        }

        &--twitter {
            width: 26px;
            height: 22px;
        }
        &--pinterest {    
            width: 21px;
            height: 26px;
        }
        &--instagram {
            width: 26px;
            height: 26px;
        }
    }

    &:hover {
        background-color: $second-color;    
        transition: 200ms linear;
    }

    &:hover .team-list__link-svg {
        fill: $main-white-color;    
        transition: fill 200ms linear;    
    }
}

.team-list__member--control:hover .team-list__img--control  {
    opacity: 1;
    box-shadow: 10px 10px $shadow-color;    
    top: -10px;
    left: -10px;    
    transition: 200ms linear;
}

