$main-font: 'Montserrat', Arial, sans-serif;
$support-font: 'Kaushan Script';
$article-font: 'Roboto', Arial, sans-serif;

$main-color: #fce38a;
$second-color: #f38181;

$shadow-color: #95e1d3;
$line-color: #e5e5e5;
$button-color: #ccc;

$main-white-color: #ffffff;

$article-title-color: #333;
$article-text-color: #999;