@font-face{
    font-family: PlayfairDisplay;
    src: url(../font/playfair-display_[allfont.ru].ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: UbuntuLight;
    src: url(../font/Ubuntu-L.ttf);
    font-weight: lighter;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
html{
    margin-left: 10px;
}
body{
    font-family: PlayfairDisplay;
    font-size: 14px;
    width: 901px;
    /* outline: 2px solid red; */
    margin: 0 auto;
    color: #626262;
    margin-bottom: 70px;
}
header{
    margin-top: 77px;
    margin-bottom: 104px;
}


span{
    display: block;
    font-family: UbuntuLight;
    text-transform: uppercase;
    margin-top: 31px;
    font-size: 14px;
}
h2 {
    margin-top: 31px;
    font-size: 30px;
}
p{
    height: 60px;
    margin-top: 41px;
}
img{
    /* display: block; */
    width: 420px;
    /* height: 280px; */
}
button{
    display: block;
    box-sizing: border-box;
    /* outline: 2px solid red; */
    margin: auto;
    margin-top: 57px;
    font-family: PlayfairDisplay;
    font-size: 20px;
    text-align: center;
    width: 160px;
    height: 60px;
    background-color: white;
    border: 1px solid #626262;    
}
ul.menu{
    padding: 0;
    list-style: none;
}
ul.menu li{
    text-transform: uppercase;
    display: inline-block;
        
}
ul.menu li a{
    text-decoration: none;
    font-size: 14px;
    color: #626262;
    padding-right: 100px;
}
ul.menu li:first-child{
    padding-left: 180px;
}
a.menu_nav:hover{
    color: #03a9f4;
}
button:hover{
    background-color: #27b1db;
}
ul.row_1{
    width: 921px;
    list-style: none;
    padding-left: 0;
}
ul.row_1 li {
    display: inline-block;
    max-width: 421px;
    padding-bottom: 135px; 
}
li.right_li{
    padding-left: 60px;
}
main ul li.last_row{
    padding-bottom: 0;
}