@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../font/montserrat-v13-latin-regular.woff2')  format('woff2'), url('../font/montserrat-v13-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;    
    src: url('../font/montserrat-v13-latin-700.woff2') format('woff2'), url('../font/montserrat-v13-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../font/roboto-v19-latin-300.woff2') format('woff2'), url('../font/roboto-v19-latin-300.woff') format('woff');
}
  
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-v19-latin-regular.woff2') format('woff2'), url('../font/roboto-v19-latin-regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
}

html {    
    font-size: 10px;  
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    min-width: 320px;      
}

/* HEADER START */

.dreams {
    max-width: 1440px;
    background: url(../img/Screen_1_BG.png) center/cover no-repeat;
    color: #fff;
    margin: 0 auto;    
}

.nav-button-wrapper button {    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 0.8em;
    color: #fff;    
    background: none;
    cursor: pointer;        
}

.sign-up {
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 10px 15px;
}

.log-in {
    border: none;
    margin-right: 20px;
}

.logo {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 0.8em;
    letter-spacing: 0.5px;     
}

.main-title {
    text-transform: uppercase;
    font-size: 5.2rem;   
    padding: 0; 
}

.main-title-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;   
}

.find-partner {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 0.8em;
    color: #fff;    
    background-color: #ff4e50;
    padding: 15px 0;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
    max-width: 294px;
}

/* HEADER START */

/* SECTION PARTNER START */

.partner {
    max-width: 1440px;    
    color: #333333;
    margin: 0 auto;
}

.partner-title {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto 20px;    
}

.partner-list {
    list-style: none;    
}


.partner-list-item {
    list-style: none;
    text-align: center;       
}


.partner-foto-wrapper {
    width: 122px;
    height: 122px;
    margin: 0 auto 20px;    
    position: relative;
}

.partner-foto-link {
    display: block;
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 40px;
    height: 40px;          
    border: 4px solid #fff;
    border-radius: 50%;
}

.partner1 {
    background: url(../img/Icon/icon_parter_1.png) center /auto no-repeat #ff4e50;
}

.partner2 {
    background: url(../img/Icon/icon_parter_2.png) center /auto no-repeat #ffa507;
}

.partner3 {
    background: url(../img/Icon/icon_parter_3.png) center /auto no-repeat #1cd7ad;
}

.partner4 {
    background: url(../img/Icon/icon_parter_4.png) 40% 50%/auto no-repeat #4e73db;
}

.partner-name {
    font-size: 1.4rem;
    margin-bottom: 14px;
}

.partner-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    color: #c1c1c1;
    text-align: center;
}

.other-partner {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 0.8em;
    color: #ff4e50;    
    background-color: transparent;
    max-width: 294px;
    padding: 12px 70px 10px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
}

/* SECTION PARTNER END */


@media (max-width: 685px) {

    /* HEADER START */

    .dreams {        
        padding: 20px 0 138px 0;
        text-align: center;
    }

    .menu {
        flex-direction: column-reverse;        
        margin-bottom: 38px;
    }

    .nav-button-wrapper {
        margin-bottom: 120px;       
    }

    .main-title {           
        margin-bottom: 20px;
        font-size: 3rem;        
    }

    .main-title-text {            
        margin-bottom: 20px;
        font-size: 1.8rem;
        padding: 0 34px;        
    }

    /* HEADER END */

    /* SECTION PARTNER START */

    .partner {            
        padding: 68px 0 58px 0;        
    }

    .partner-list {          
        margin-bottom: 30px;
    }

    .partner-list-item {         
        margin-bottom: 30px;
    }
    
    .partner-list-item:last-child{
        margin-bottom: 0;
    }



    /* SECTION PARTNER END */
    
}

@media (min-width: 686px) and (max-width: 991px) {

    /* HEADER START */

    .dreams {       
        padding: 50px 0 234px;        
    }


    .menu {    
        margin-bottom: 154px;        
    }

    .nav-button-wrapper {        
        text-align: end;
    }

    .main-title {
        margin-bottom: 40px;
        text-align: center;        
    }

    .main-title-text {
        margin-bottom: 34px;
        padding: 0;
        text-align: center;        
    }

    /* HEADER END */

    /* SECTION PARTNER START */

    .partner {
        padding: 72px 0 40px; 
    }

    .partner-title {
        margin-bottom: 36px;
    }

    .partner-list {        
        margin: 0 auto 40px;
    }

    .partner-list-item {
        margin-bottom: 56px;
    }

    .partner-list-item:nth-child(even){
        margin-bottom: 0;
    }

    .partner-list-item:nth-child(2) {
        order: 2;
    }

    .partner-list-item:nth-child(3) {
        order: 1;
    }

    .partner-list-item:nth-child(4) {
        order: 3;
    }

    /* SECTION PARTNER END */

}

@media (min-width: 992px) {

    /* HEADER START */

    .dreams {       
        padding: 50px 0 234px;
    }

    .menu {    
        margin-bottom: 154px;        
    }

    .nav-button-wrapper {        
        text-align: end;
    }


    .main-title {
        margin-bottom: 40px;
        text-align: center;        
    }

    .main-title-text {
        margin-bottom: 34px;
        text-align: center;             
    }

    /* HEADER END */

    /* SECTION PARTNER START */

    .partner {
        padding: 70px 0 74px; 
    }    

    .partner-list {              
        /* width: 100%;
        align-items: flex-start; */
        margin-bottom: 38px;       
    }

    .partner-list-item {
        margin-bottom: 0;
    }

    .partner-list-item:nth-child(2) {
        order: 2;
    }

    .partner-list-item:nth-child(3) {
        order: 1;
    }

    .partner-list-item:nth-child(4) {
        order: 3;
    }

    /* SECTION PARTNER END */

}